{% if layout_features['footer'] %}
    <div class="container pad-xs-only-lr text-right margin-top-lg margin-bottom-lg visible-xs"><a href="#top" class="back-to-top">Povratak na vrh</a></div>

    <div class="site-footer">
        <div class="top clearfix">
            <div class="container">
                <a href="#top" class="back-to-top hidden-xs">Povratak na vrh</a>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                            <h3>Oglasnik</h3>
                            <ul>
                                <li><a href="{{ this.url.get('user/signup') }}">Registracija</a></li>
                                <li><a href="{{ this.url.get('predaja-oglasa') }}">Predaja oglasa</a></li>
                                <li><a href="{{ this.url.get('moj-kutak') }}">Vaš kutak</a></li>
                                <li><a href="{{ this.url.get('info/cjenik') }}">Cjenik</a></li>
                                <li><a href="{{ this.url.get('info/o-nama') }}">O nama</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <h3>Sigurnost</h3>
                            <ul>
                                <li><a href="{{ this.url.get('info/sigurnost-placanja') }}">Sigurnost plaćanja</a></li>
                                <li><a href="{{ this.url.get('info/uvjeti-koristenja') }}">Uvjeti korištenja</a></li>
                                <li><a href="{{ this.url.get('info/uvjeti-kupnje') }}">Uvjeti kupnje</a></li>
                                <li><a href="{{ this.url.get('info/sigurnost') }}">Sigurnost</a></li>
                            </ul>
                        </div>
                        <div class="clearfix visible-xs-block"></div>
                        <div class="col-xs-6 col-sm-3">
                            <h3>Pomoć</h3>
                            <ul>
                                <li><a href="{{ this.url.get('info/kontakt-i-podrska') }}#">Kontakt i podrška</a></li>
                                <li><a href="{{ this.url.get('user/pwdforgot') }}">Izmjena lozinke</a></li>
                                <li><a href="{{ this.url.get('info/cesto-postavljana-pitanja') }}">Česta pitanja</a></li>
                                <li><a href="{{ this.url.get('info/pomoc') }}">Pomoć</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <h3>Pratite nas</h3>
                            <ul class="social">
                                <li><a target="_blank" class="facebook" href="https://www.facebook.com/plavioglasnik/">Oglasnik</a></li>
                                <li><a target="_blank" class="viber svg-bg" href="http://www.viber.com/oglasnik">Oglasnik</a></li>
                                <li><a target="_blank" class="instagram" href="https://www.instagram.com/oglasnik.hr/">@oglasnik.hr</a></li>
                                <li><a target="_blank" class="twitter" href="https://twitter.com/oglasnik">@Oglasnik</a></li>
                                <li><a target="_blank" class="gplus" href="https://plus.google.com/+oglasnik">+Oglasnik</a></li>
                                <li><a target="_blank" class="linkedin svg-bg" href="https://www.linkedin.com/company/oglasnik-d.o.o.">Oglasnik</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="container">
                <span class="footer-logo margin-bottom-footer-logo-xs-only pull-left-xs"></span>1989-{{ date('Y') }} &copy; Oglasnik d.o.o.<br class="visible-xs"> Sva prava pridržana.
            </div>
        </div>
    </div>
{% endif %}
</div>

<!-- Enable responsive features in IE8 -->
<!--[if lt IE 9]>
{{ javascriptInclude('assets/vendor/respond.min.js') }}
<![endif]-->

{{ this.assets.outputJs() }}
{%- if scripts is defined AND count(scripts) -%}
    {%- for script_id, script in scripts -%}
<script type="text/javascript"{% if script_id %} id="{{ script_id }}"{% endif %}>
    {{ script }}

</script>
    {%- endfor -%}
{%- endif -%}

{% if banners and banner_floater is defined %}
<div class="banner">{{ banner_floater }}</div>
{% endif %}

{% if load_zendesk_script %}
    <!-- Start of oglasnik Zendesk Widget script -->
    <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","oglasnik.zendesk.com");/*]]>*/</script>
    <!-- End of oglasnik Zendesk Widget script -->
{% endif %}

{% if show_policy_cookie_banner %}
<!-- Cookie Info -->
<div class="alert alert-dismissible container cookie-policy cookie-info">
    <p>Kako bismo vam omogućili što bolje iskustvo, ova stranica koristi <a href="{{ url('info/uvjeti-koristenja') }}">cookies</a>. Postavke je moguće izmjeniti u vašem pregledniku.</p><button type="button" class="cookie-info-btn close-cookie" aria-label="U redu!"><span aria-hidden="true">U redu!</span></button>
</div>
<!-- End Cookie Info -->
<!-- Cookie_info script -->
{{ javascriptInclude('assets/vendor/jquery.cookie.js') }}
<script>
    (function(){
        if (!$.cookie('{{ show_policy_cookie_banner_name }}')) {
            $('.cookie-info').slideDown();
            $('.cookie-info-btn').on('click',function(){
                var domain = document.domain;
                domain = domain.replace(/^(www|static|dev)/, '');
                $.cookie(
                    '{{ show_policy_cookie_banner_name }}',
                    'yes',
                    { domain:domain, path:'/', expires:{{ show_policy_cookie_banner_expires }} }
                );
                $('.cookie-info').slideUp();
            });
        }
    })();
</script>
<!-- End Cookie_info script -->
{% endif %}
