
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "<?php echo $slsb_url; ?>",
    "potentialAction": {
        "@type": "SearchAction",
        "target": "<?php echo $slsb_url; ?>search?q={search_term}",
        "query-input": "required name=search_term"
    }
}
</script>



<?php if ($homepage_sections) { ?>
<section class="margin-top-md">
    <div class="container pad-xs-5-only-lr">
        <div class="homepage-main<?php echo ((empty($full_with_homepage_sections) ? (false) : ($full_with_homepage_sections)) ? ' full-width' : ''); ?>">
            <section class="homepage-detailed-category-list"><?php $this->partial(('chunks/homepage-sections')); ?></section>
        </div>
        <?php if ((empty($full_with_homepage_sections) ? (false) : ($full_with_homepage_sections)) == false) { ?>
        <div class="homepage-300px text-center">
            <?php if ($banners) { ?>
                <?php if (isset($banner_home_300x250_s1)) { ?>
                <div class="margin-bottom-md"><?php echo $banner_home_300x250_s1; ?></div>
                <?php } ?>
                <?php if (isset($banner_home_300x250_s2)) { ?>
                <div class="margin-bottom-md"><?php echo $banner_home_300x250_s2; ?></div>
                <?php } ?>
                <?php if (isset($banner_home_300x250_s3)) { ?>
                <div class="margin-bottom-md"><?php echo $banner_home_300x250_s3; ?></div>
                <?php } ?>
                <?php if (isset($banner_home_300x250_s4)) { ?>
                <div class="margin-bottom-md"><?php echo $banner_home_300x250_s4; ?></div>
                <?php } ?>
                <?php if (isset($banner_home_300x250_s5)) { ?>
                <div class="margin-bottom-md"><?php echo $banner_home_300x250_s5; ?></div>
                <?php } ?>
            <?php } ?>
        </div>
        <?php } ?>
    </div>
</section>
<?php } ?>

<section class="margin-bottom-md">
    <?php if ($banners && isset($banner_home_mobile)) { ?>
    <div class="text-center banner banner-mobile-homepage visible-xs"><?php echo $banner_home_mobile; ?></div>
    <?php } ?>

    <?php if ($banners && isset($banner_megabanner)) { ?>
    <div class="container"><div class="text-center banner margin-bottom-md hidden-sm hidden-xs"><?php echo $banner_megabanner; ?></div></div>
    <?php } ?>

    <?php if ($banners && isset($banner_728x90)) { ?>
    <div class="banner w728 center banner-728x90 hidden-xs"><?php echo $banner_728x90; ?></div>
    <?php } ?>
</section>

<?php if (isset($homepageFeaturedShops) && $homepageFeaturedShops) { ?>
<section class="margin-bottom-md overflow-hidden">
    <div class="container">
        <h2 class="section-title text-center homepage-section-title"><?php echo Baseapp\Library\Utils::category_name_markup('Izdvojene trgovine'); ?></h2>
        <?php echo $homepageFeaturedShops; ?>
    </div>
</section>
<?php } ?>

<?php if (isset($posaoHrClassifieds) && $posaoHrClassifieds && (is_array($posaoHrClassifieds) || ($posaoHrClassifieds) instanceof Traversable)) { ?>
<?php echo $this->partial('chunks/posao-hr', array('posaoHr' => $posaoHr, 'classifieds' => $posaoHrClassifieds)); ?>
<?php } ?>

<?php if (isset($homepage_stats_boxes) && $homepage_stats_boxes) { ?>
<section class="background-blue random-info-container hidden-xs">
    <div class="container">
        <div class="row">
            <?php foreach ($homepage_stats_boxes as $box_cnt => $box_data) { ?>
                <div class="col-md-3 col-sm-6 text-center">
                    <img class="margin-bottom-md" src="<?php echo $this->url->get('assets/img/' . $box_data['icon']); ?>" alt=""><br>
                    <span class="fancy-number"><?php echo $box_data['num']; ?></span><br>
                    <span class="semitransparent"><?php echo $this->escaper->escapeHtml($box_data['text']); ?></span>
                </div>
            <?php } ?>
        </div>
    </div>
</section>
<?php } ?>

<?php if (isset($latest_magazine_articles) && $latest_magazine_articles && (is_array($latest_magazine_articles) || ($latest_magazine_articles) instanceof Traversable)) { ?>
<section class="margin-top-sm">
    <div class="container">
        <h2 class="section-title text-center homepage-section-title">Oglasnik <b>novosti</b></h2>
        <?php echo $this->partial('chunks/cms-articles', array('articles' => $latest_magazine_articles, 'rowClass' => 'masonry-articles', 'itemClass' => 'masonry-item')); ?>
        <a href="<?php echo $this->url->get('novosti'); ?>" class="btn btn-primary center">Pogledaj više</a>
    </div>
</section>
<?php } ?>
