
<div class="pad-xs-5-only-lr">

<?php $this->partial(('chunks/ads-submission-title-bit')); ?>

<?php echo $steps_wizard_markup; ?>

<h2>Plaćanje</h2>

<div class="row">
    <div class="col-lg-12">
        <p>Vaša narudžba:</p>
        <div class="billing-info">

            <?php echo $order_table_markup; ?>

            <h2>Odaberite način plaćanja</h2>
            <div id="payment-method-chooser">
                <div class="payment-method payment-method-cc">
                    <div class="radio radio-primary radio-medium">
                        <input class="radio-light-blue" data-target="#details-cc" type="radio" name="payment_method" id="payment_method_cc" value="cc">
                        <label for="cc"><span class="text-muted">Plaćanje karticom - Aktivacija <strong>ODMAH</strong></span></label>
                    </div>
                </div>
                <div class="payment-method payment-method-offline">
                    <div class="radio radio-primary radio-medium">
                        <input class="radio-light-blue" data-target="#details-offline-<?php echo $order_id; ?>" type="radio" name="payment_method" id="payment_method_offline" value="offline">
                        <label for="offline"><span class="text-muted">Plaćanje uplatnicom ili internet bankarstvom</span></label>
                    </div>
                </div>
            </div>

            <hr>

            <div id="details-cc" class="payment-method-details">
    <p>Klikom na &quot;Plaćanje karticom&quot; šaljemo Vas na stranice WSPay sustava za plaćanje karticama.</p>
    <p><img src="<?php echo $this->url->get('assets/img/credit-cards.jpg'); ?>" usemap="#stickers"></p>
    <map name="stickers">
        <area alt="" title="" href="http://www.wspay.info/" shape="rect" coords="1,1,98,47" style="outline:none;" target="_blank">
        <area alt="" title="" href="http://www.americanexpress.hr/" shape="rect" coords="103,0,153,46" style="outline:none;" target="_blank">
        <area alt="" title="" href="http://www.diners.com.hr/" shape="rect" coords="157,0,216,48" style="outline:none;" target="_blank">
        <area alt="" title="" href="http://www.visa.com.hr/" shape="rect" coords="216,1,294,44" style="outline:none;" target="_blank">
        <area alt="" title="" href="http://www.mastercard.com/hr/" shape="rect" coords="296,0,372,46" style="outline:none;" target="_blank">
        <area alt="" title="" href="http://www.maestrocard.com/hr/" shape="rect" coords="374,0,450,46" style="outline:none;" target="_blank">
        <area alt="" title="" href="https://www.discover.com/" shape="rect" coords="450,0,526,46" style="outline:none;" target="_blank">
        <area alt="" title="" href="http://www.diners.com.hr/" shape="rect" coords="525,0,616,45" style="outline:none;" target="_blank">
        <area alt="" title="" href="http://www.americanexpress.hr/webtrgovina/Jamstvo_sigurne_online_kupnje.html" shape="rect" coords="620,0,724,44" style="outline:none;" target="_blank">
        <area alt="" title="" href="http://www.pbzcard.hr/media/53821/mcsc_hr.html" shape="rect" coords="739,0,823,50" style="outline:none;" target="_blank">
        <area alt="" title="" href="http://www.pbzcard.hr/media/53827/vbv_hr.html" shape="rect" coords="831,1,913,60" style="outline:none;" target="_blank">
    </map>
    <hr>
    <div class="form-container">
        <?php echo $rendered_form; ?>
    </div>
</div>


            <?php echo $this->partial('chunks/hub-3a', array('order_id' => $order_id, 'payment_data_table_markup' => $payment_data_table_markup, 'offline_button_markup' => $offline_button_markup)); ?>

        </div>
    </div>
</div>

</div>
