

<div class="new-ad pad-xs-5-only-lr">

    <?php $this->partial(('chunks/ads-submission-title-bit')); ?>

    <?php echo $steps_wizard_markup; ?>

    <div class="row margin-top-sm">
        <div class="col-xs-12 col-sm-8 col-md-9">
            <h2 class="choose-category-heading">Odabir kategorije</h2>
        </div>

    </div>
    <?php if (isset($categories)) { ?>
    <?php echo $this->tag->form(array(null, 'id' => 'frm_ads_submit', 'method' => 'post', 'autocomplete' => 'off')); ?>
        <?php echo $this->tag->hiddenfield('_csrftoken'); ?>
        <?php echo $this->tag->hiddenfield(array('category_id', 'value' => $category_id)); ?>
        <div class="new-ad-steps bs-row-margins-xs-only">
            <div class="submit-button-container margin-bottom-md" id="submit-button-container"<?php echo ($category_id ? ' style="display:block"' : ''); ?>>
                <button type="submit" name="next" value="ad_form" class="btn btn-primary width-full">Predaj oglas u ovu kategoriju</button>
            </div>
            <div class="mobile-category-selector-breadcrumbs hidden-sm hidden-md hidden-lg">
                <div class="row margin-0">
                    <div class="col-xs-12 bc-container"></div>
                </div>
            </div>
            <div class="category-selector-container" data-current-level="<?php echo $current_category_level; ?>">
                <div class="mobile-overflow-hidden">
                    <?php echo $this->partial('chunks/nested-ul', array('items' => $categories, 'class' => 'category-select unstyled border-right', 'mark_paid_categories' => true, 'level' => 1, 'parent_category_id' => null)); ?>
                </div>
            </div>
        </div>
        <div class="visible-xs visible-sm clearfix"><!--IE--></div>
        <p class="text-small margin-top-md"><span class="text-danger">*</span> Oglašavanje u određenim kategorijama se naplaćuje. Cjenik oglašavanja pogledajte <a href="<?php echo $this->url->get('info/cjenik'); ?>">ovdje</a>.</p>
    <?php echo $this->tag->endform(); ?>
    <?php } ?>
</div>
