
<div class="pad-xs-5-only-lr">

<?php $this->partial(('chunks/ads-submission-title-bit')); ?>

<?php echo $steps_wizard_markup; ?>

<h2>Detalji oglasa</h2>
<p class="chosen-ad-category">Kategorija: <span class="color-deep-dark-blue-2"><?php echo $category->getPath(); ?></span></p>

<?php echo $this->tag->form(array(null, 'id' => 'frm_ads_submit', 'method' => 'post', 'autocomplete' => 'off')); ?>
    <?php echo $this->tag->hiddenfield('_csrftoken'); ?>
    <?php echo $this->tag->hiddenfield(array('category_id', 'value' => $category->id)); ?>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div id="ads_category_parameters"><?php echo $rendered_parameters; ?></div>
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Kontakt telefon</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <?php $users_phone_nrs = null; ?>
                        <?php $users_country_iso_code = 'HR'; ?>
                        <?php if ($this->auth->logged_in()) { ?>
                            <?php $logged_in_user = $this->auth->get_user(); ?>
                            <?php $users_country_iso_code = $logged_in_user->getCountryISOCode(); ?>
                            <?php $users_phone_nrs = $logged_in_user->get_public_phone_numbers(); ?>
                            <?php $ad_phone1 = (empty($users_phone_nrs[0]) ? ('') : ($users_phone_nrs[0])); ?>
                            <?php $ad_phone2 = (empty($users_phone_nrs[1]) ? ('') : ($users_phone_nrs[1])); ?>
                        <?php } ?>

                        <?php $ad_phone1 = ((isset($_POST['phone1']) ? $_POST['phone1'] : ((isset($ad->phone1) ? $ad->getPhoneField('phone1', $users_country_iso_code) : (($users_phone_nrs ? $users_phone_nrs[0] : '')))))); ?>
                        <?php $ad_phone2 = ((isset($_POST['phone2']) ? $_POST['phone2'] : ((isset($ad->phone2) ? $ad->getPhoneField('phone2', $users_country_iso_code) : (($users_phone_nrs ? $users_phone_nrs[1] : '')))))); ?>

                        <div class="col-lg-3 col-md-3">
                            <?php $field = 'phone1'; ?>
                            <div class="form-group">
                                <label class="control-label" for="<?php echo $field; ?>">Primarni broj</label>
                                <?php echo $this->tag->hiddenfield(array($field, 'value' => $ad_phone1, 'class' => 'phone-number-handler', 'data-type' => $phoneNumberType)); ?>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <?php $field = 'phone2'; ?>
                            <div class="form-group">
                                <label class="control-label" for="<?php echo $field; ?>">Dodatni broj</label>
                                <?php echo $this->tag->hiddenfield(array($field, 'value' => $ad_phone2, 'class' => 'phone-number-handler', 'data-type' => $phoneNumberType)); ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="text-right margin-bottom-sm">
        <hr>
        <button class="btn btn-plain btn-md-fontsize margin-bottom-1em-xs-only btn-grey pull-left" type="submit" name="next" value="preview">Pregledaj prije predaje</button>
        <?php if ($stepType == 'new') { ?>
        <button class="btn btn-primary btn-full-width-on-xs" type="submit" name="next" value="product_chooser">Nastavi predaju</button>
        <?php } elseif ($stepType == 'republish') { ?>
        <button class="btn btn-default" type="submit" name="cancel" value="cancel">Odustani</button>
        <button class="btn btn-primary btn-full-width-on-xs" type="submit" name="next" value="product_chooser">Ponovi oglas</button>
        <?php } ?>
    </div>
<?php echo $this->tag->endform(); ?>

</div>
