<?php if ($stepType == 'new') { ?>
    <?php $h1_title = 'Predaja novog oglasa'; ?>
<?php } elseif ($stepType == 'republish') { ?>
    <?php $h1_title = 'Ponavljanje oglasa: <span class="blue">' . Baseapp\Library\Utils::str_truncate(strip_tags($ad->title), 80) . ' <small>[šifra: ' . $ad->id . ']</small></span>'; ?>
<?php } elseif ($stepType == 'upgrade') { ?>
    <?php $h1_title = 'Izdvajanje oglasa: <span class="blue">' . Baseapp\Library\Utils::str_truncate(strip_tags($ad->title), 80) . ' <small>[šifra: ' . $ad->id . ']</small></span>'; ?>
<?php } ?>

<?php if ((empty($h1_title) ? ('') : ($h1_title))) { ?><h1><?php echo $h1_title; ?></h1><?php } ?>

<?php echo $this->flashSession->output(); ?>
