<?php $homepage_section_icon = null; ?>
<?php $homepage_section_json = $homepage_section['json']; ?>
<?php if ((empty($homepage_section_json->icon) ? (null) : ($homepage_section_json->icon))) { ?>
    <?php $homepage_section_icon = $this->url->get('assets/img/categories/' . $homepage_section_json->icon); ?>
<?php } ?>
<?php $bg_image = null; ?>
<?php $bg_image_thumb = null; ?>
<?php if ((empty($homepage_section['backgroundPic']) ? (null) : ($homepage_section['backgroundPic']))) { ?>
    <?php $bg_image = $homepage_section['backgroundPic']; ?>
    <?php $bg_image_thumb = $bg_image->getThumb(array('width' => 500, 'height' => 300)); ?>
<?php } ?>
<?php $boxClass = ((empty($full_with_homepage_sections) ? (false) : ($full_with_homepage_sections)) ? 'col-md-3 ' : ''); ?>

<div class="<?php echo $boxClass; ?>col-sm-4 col-xs-6">
    <div class="section-box">
        <?php if ($bg_image_thumb) { ?><span class="background" style="background-image:url('<?php echo $bg_image_thumb->src; ?>')"></span><?php } ?>
        <a href="<?php echo $homepage_section['frontend_url']; ?>"<?php echo ((empty($homepage_section['frontend_url_target']) ? (null) : ($homepage_section['frontend_url_target'])) ? ' target="' . $homepage_section['frontend_url_target'] . '"' : ''); ?>>
            <span class="info">
                <?php if ($homepage_section_icon) { ?><span class="icon"><img src="<?php echo $homepage_section_icon; ?>"></span><?php } ?>
                <h2><?php echo $homepage_section['name']; ?></h2>
            </span>
        </a>
    </div>
</div>
