<div id="details-offline-<?php echo $order_id; ?>" class="hub-3a-details" data-order-id="<?php echo $order_id; ?>">
    <p>
        Aktivacija PO PRIMITKU UPLATE na naš bankovni račun, od 1 do 3 RADNA DANA PO IZVRŠENOJ UPLATI.<br>
        Plaćanje možete izvršiti općom uplatnicom u svim poštanskim uredima ili internet bankarstvom bilo koje banke.
    </p>
    <?php if (!(empty($payment_data_table_markup))) { ?>
        <?php echo $payment_data_table_markup; ?>
    <?php } ?>
    <p>Potvrdu uplate pošaljite faksom na broj <a href="tel:+38516102898"><strong>01/6102-898</strong></a> ili na e-mail: <a href="mailto:podrska@oglasnik.hr"><strong>podrska@oglasnik.hr</strong></a></p>
    <?php if (!(empty($bank_slip_markup))) { ?>
        <?php echo $bank_slip_markup; ?>
    <?php } ?>
    <?php if (!(empty($offline_button_markup))) { ?>
        <div class="text-right">
            <?php echo $offline_button_markup; ?>
        </div>
    <?php } ?>
</div>
