<ul>
    <li><a href="<?php echo $this->url->get(''); ?>">Početna</a></li>
    <li>
        <a href="<?php echo $this->url->get('categories/all'); ?>">Kategorije</a>
        <ul>
        <?php foreach ($categories as $category) { ?>
            <?php $categoryJson = $category->json; ?>
            <?php $categoryIcon = (empty($categoryJson->icon) ? (null) : ($categoryJson->icon)); ?>
            <?php if ($categoryIcon) { ?>
                <?php $categoryIcon = '<span class="icon" style="background-image:url(' . $this->url->get('assets/img/categories/' . $categoryIcon) . ')" alt="' . $category->name . '"></span>'; ?>
            <?php } else { ?>
                <?php $categoryIcon = ''; ?>
            <?php } ?>
            <li><a href="<?php echo $this->url->get($category->url); ?>"><?php echo $categoryIcon . $category->name; ?></a></li>
        <?php } ?>
        </ul>
    </li>
    <li>
        <span>Oglasi</span>
        <ul>
            
            <li><a href="<?php echo $this->url->get('novi-oglasi'); ?>">Novi oglasi</a></li>
            <li><a href="<?php echo $this->url->get('popularni-oglasi'); ?>">Popularni oglasi</a></li>
        </ul>
    </li>
    <li>
        <span>Ostalo</span>
        <ul>
            <li><a href="<?php echo $this->url->get('info/cjenik'); ?>">Cjenik</a></li>
            <li><a href="<?php echo $this->url->get('info/o-nama'); ?>">O nama</a></li>
            <li><a href="<?php echo $this->url->get('info/kontakt-i-podrska'); ?>">Podrška</a></li>
            <li><a href="<?php echo $this->url->get('info/pomoc'); ?>">Pomoć</a></li>
            <li><a href="<?php echo $this->url->get('novosti'); ?>">Vijesti</a></li>
        </ul>
    </li>
    <?php if ($this->auth->logged_in()) { ?>
    <li>
        <span class="text-primary">Korisnički profil<?php if ($userUnreadMsgCount > 0) { ?><span class="count-text"> <?php echo $userUnreadMsgCount; ?></span><?php } ?></span>
        <ul>
            <?php if ($this->auth->logged_in(array('admin', 'supersupport', 'support', 'finance', 'moderator', 'content', 'sales'))) { ?>
            <li><a href="<?php echo $this->url->get('admin'); ?>">Admin</a></li>
            <?php } ?>
            <li><a href="<?php echo $this->url->get('moj-kutak/podaci'); ?>">Postavke profila</a></li>
            <li><a href="<?php echo $this->url->get('moj-kutak/svi-oglasi'); ?>">Moji oglasi</a></li>
            <li><a href="<?php echo $this->url->get('moj-kutak/spremljeni-oglasi'); ?>">Spremljeni oglasi</a></li>
            <li><a href="<?php echo $this->url->get('moj-kutak/poruke'); ?>">Poruke<?php if ($userUnreadMsgCount > 0) { ?><span class="count-text"> <?php echo $userUnreadMsgCount; ?></span><?php } ?></a></li>
            <li><a href="<?php echo $this->url->get('info/pomoc'); ?>">Pomoć</a></li>
            <li><a href="<?php echo $this->url->get('user/signout'); ?>" class="color-secondary-red">Odjava</a></li>
        </ul>
    </li>
    <?php } else { ?>
    <li><a href="<?php echo $this->url->get('user/signin'); ?>" class="text-primary">Prijava</a></li>
    <li><a href="<?php echo $this->url->get('user/signup'); ?>" class="text-primary">Registracija</a></li>
    <?php } ?>
</ul>
