<?php foreach ($items as $item) { ?>
    <?php if ($item->active) { ?>
        <?php $children = $item->children; ?>
        <?php $hasChildren = (count($children) > 0); ?>
        <li data-category-id="<?php echo $item->id; ?>" class="<?php echo ($hasChildren ? 'has-children' : 'leaf-node'); ?>" data-leaf-node="<?php echo ($hasChildren ? 'false' : 'true'); ?>" data-name="<?php echo $item->name; ?>">
            <?php $categoryIcon = ''; ?>
            
            <?php if ($item->level == 2) { ?><?php $categoryIcon = '<span class="icon"></span>'; ?><?php } ?>
            <?php if (isset($item->json->icon) && $item->json->icon) { ?>
            <?php $categoryIcon = '<span class="icon" style="background-image:url(/assets/img/categories/' . $item->json->icon . ')"></span>'; ?>
            <?php } ?>
            <?php $paid_category_text = (($mark_paid_categories ? (($item->paid_category ? ' <span class="text-danger" title="Naplatna kategorija">*</span>' : '')) : '')); ?>
            <a href="#" data-id="<?php echo $item->id; ?>"><?php echo $categoryIcon . $item->name . $paid_category_text; ?></a>
            <?php if ($hasChildren) { ?>
            <?php $level = $item->level; ?>
            <?php $parent_category_id = $item->id; ?>
            <?php echo $this->partial('chunks/nested-ul', array('items' => $children, 'class' => $class, 'mark_paid_categories' => (($mark_paid_categories ? $mark_paid_categories : false)), 'level' => $level, 'parent_category_id' => $parent_category_id)); ?>
            <?php } ?>
        </li>
    <?php } ?>
<?php } ?>
