b, strong, .text-bold { font-weight:600 !important; }
.text-primary { color:#009fe3 !important; }
.text-success { color:#5cb85c; }
.text-warning { color:#f0ad4e; }
.text-info { color:#5bc0de; }
.text-danger { color:#d9534f; }
.text-muted { color:#ddd; }
.border-top-none { border-top:0; }
.bg-color-white { background-color: #fff; }
.no-top-margin { margin-top:0 !important; }
.no-bottom-margin { margin-bottom:0 !important; }
img.sponsorship-logo { height:45px; width:auto; margin:1em 0; }
button:not(.dropdown-toggle), .btn:not(.dropdown-toggle) { font-weight:600; }
.btn.dropdown-toggle { font-size:14px; }
.truncate { display:inline-block; width:100%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.auto-height { height:auto; }
.form-control-md { height:auto !important; padding:6px 15px !important; border-radius:4px !important; }
.ad-box-wide .image-wrapper img { width:100%; }

.btn.secondary-red.inverse, button.secondary-red.inverse { background:#515d6c; border-color:#515d6c; }
.btn.secondary-red.inverse:hover, button.secondary-red.inverse:hover { background:#ed5565; border-color:#ed5565; }

.btn-primary:hover { background-color:#0087c1; border-color:#0087c1; }
.btn-primary:focus { background-color:#007fb5; border-color:#007fb5; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color:transparent;
}
#frm_login input[type="checkbox"] { display:block; opacity:0; } /* This fixes tabindes issues with checkboxes */
.text-bold {
    font-weight:bold;
}
.bootstrap-select.form-control:not([class*="col-"]) {
    height:auto;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    width:calc(100% - 15px) !important;
    text-overflow:ellipsis;
}
.input-group-btn .btn-default-padding {
    padding:6px 12px;
}
.btn-group-justified .btn {
    box-shadow:none;
    background: #eee;
    border: 1px solid #e3e4e6;
    color: #888;
    font-weight: 600;
}
.btn-group-justified .btn:hover,
.btn-group-justified .btn:focus,
.btn-group-justified .btn:active,
.btn-group-justified .btn.active {
    background: #fff;
    color: #515d6c;
    box-shadow: none;
}

#search-xs input.form-control, #search-xs .input-group-btn button { height:40px !important; }
#search-xs .input-group-btn button { width:40px; }
#search-xs .category-addon { border:0; background-color:transparent; padding:0; width:130px; }
#search-xs .category-addon .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) { width:100%; }
#search-xs .category-addon .category-select { height:40px !important; border:0; border-radius:0; border-top:1px solid #d0d3d6; border-bottom:1px solid #d0d3d6; background-color:#eee; color:#999; }
#search-xs .category-addon .category-select:hover { border:0 !important; border-radius:0 !important; border-top:1px solid #d0d3d6 !important; border-bottom:1px solid #d0d3d6 !important; background-color:#eee !important; color:#009fe3 !important; box-shadow:none !important; }

@media (min-width: 479px) {
    #search-xs .category-addon { width:200px; }
}

/* new layout for mobile header (search+dropdown+another large submit button which just confuses everyone) */
@media (max-width:768px) {
    .header-mobile .after-homer .predaj-oglas {
        display:none;
    }
    #search-xs .category-addon {
        position:absolute;
        top:44px;
        border-radius:3px;
        width:100% !important;
    }
    #search-xs .input-group-btn {
        vertical-align:top;
    }
    #search-xs .category-addon .category-select {
        border:1px solid #d0d3d6;
        border-radius:3px;
        color:#515d6c;
        background-color:rgba(220, 220, 220, 0.2);
    }
    #search-xs .category-addon .category-select:hover {
        border:1px solid #d0d3d6 !important;
        color:#515d6c !important;
        border-radius:3px !important;
        background-color:#fff !important;
    }
    #search-xs .category-addon .category-select:focus {
        box-shadow:none !important;
        outline:0 !important;
    }
    #search-xs .input-group .twitter-typeahead {
        margin-bottom:45px;
    }
    .predaj-oglas-large {
        display:block;
        width:100%;
        height: auto;
        margin-top:5px;
    }
    .input-group.input-group-sm .twitter-typeahead .tt-input, .input-group.input-group-sm .twitter-typeahead .tt-hint {
        font-size:15px !important;
        /*color:#000 !important;*/
    }
    .input-group.input-group-sm .twitter-typeahead .tt-input::-webkit-input-placeholder {
        font-size:15px !important;
        color:#000 !important;
    }
    .input-group.input-group-sm .twitter-typeahead .tt-input:focus::-webkit-input-placeholder {
        color: transparent !important;
    }
    .input-group.input-group-sm .twitter-typeahead .tt-input::-moz-placeholder {
        font-size:15px !important;
        color:#000 !important;
    }
    .input-group.input-group-sm .twitter-typeahead .tt-input:focus::-moz-placeholder {
        color:transparent !important;
    }
    .input-group.input-group-sm .twitter-typeahead .tt-input:-moz-placeholder {
        font-size:15px !important;
        color:#000 !important;
    }
    .input-group.input-group-sm .twitter-typeahead .tt-input:focus:-moz-placeholder {
        color:transparent !important;
    }
    .input-group.input-group-sm .twitter-typeahead .tt-input:-ms-input-placeholder {
        font-size:15px !important;
        color:#000 !important;
    }
    .input-group.input-group-sm .twitter-typeahead .tt-input:focus:-ms-input-placeholder {
        color: transparent !important;
    }
    .header-mobile .top-row .after-homer {
        position:absolute;
        right:5px;
    }
    .header-mobile .top-row .mobile-nav-trigger {
        position:absolute;
        left:5px;
    }
}

/* sidebar category drill down listing */
small.search-term { display:block; font-size:20px; }
.classifieds-categories-listing-sidebar .sidebar-lists { color:#d0d3d6; font-weight:normal; }
.classifieds-categories-listing-sidebar .sidebar-lists a { color:#9ba5b0; }
.classifieds-categories-listing-sidebar .sidebar-lists a:focus { outline: none; text-decoration:none; }
.classifieds-categories-listing-sidebar .sidebar-lists strong a { color:#515d6c; }
.classifieds-categories-listing-sidebar .sidebar-lists a.current,
.classifieds-categories-listing-sidebar .sidebar-lists a:hover { color:#009fe3; text-decoration:none; }
.classifieds-categories-listing-sidebar .sidebar-lists li:not(.leaf-node) { list-style:none; }
.classifieds-categories-listing-sidebar .sidebar-lists li:not(.leaf-node):before { font-family:'FontAwesome'; content:"\f054"; font-size:12px; margin-left:-15px; padding-right:5px; }
.classifieds-categories-listing-sidebar .sidebar-lists li.leaf-node { list-style-type:disc; }

/* fix wrong position of input button on Chrome */
.fileinput-button input {
    bottom:0;
}

/* messaging */
.msg-box.msg-read .box-header a { text-decoration:underline; color:#515d6c; }
.msg-box.msg-read .box-header a:hover { color:#009fe3; }
.msg-box .box-footer { border-top:1px solid #b7bcc2; padding:10px 20px; margin-top:-20px; color:#515d6c; background-color:#efefef; }
.msg-box .box-footer .reply-form, .msg-box .box-footer .btn-send, .msg-box .box-footer .btn-dismiss { display:none; }
.msg-box .box-footer.in-message .reply-form { display:block }
.msg-box .box-footer.in-message .btn-send, .msg-box .box-footer.in-message .btn-dismiss { display:inline-block; }
.msg-box .box-footer.in-message .btn-reply { display:none; }

/* fix btn-xs, btn-sm, btn-md classes */
.btn-xs, .btn-sm, .btn-md { height:auto !important; }
.btn-xs { padding:1px 5px; font-size:12px; line-height:1.5; border-radius:3px; }
.btn-sm { padding:5px 10px; font-size:12px; line-height:1.5; border-radius:3px; }
.btn-md { padding:6px 12px; font-size:14px; line-height:1.5; border-radius:3px; }
.btn-info { color:#fff; background-color:#5bc0de; border-color:#46b8da; }
.btn-danger { color:#fff; background-color:#d9534f; border-color:#d43f3a; }

/* fix left padding being huge on bootstrap-select dropdowns */
.sort-dropdown .dropdown-toggle, .bootstrap-select .dropdown-toggle {
    padding:0.5em 1em !important;
}

/* make sort dropdown not suck as much as used currently */
.sort-dropdown .dropdown-menu {
    padding:0 0 5px 0;
    margin-top:-8px;
    border-top:0;
    -webkit-box-shadow:0 2px 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow:0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border:0;
}
.sort-dropdown .btn-group.open .dropdown-toggle {
    -webkit-box-shadow:none;
    box-shadow:none;
}

/* fix search box inside bootstrap-select dropdowns being huge */
.bs-searchbox .form-control {
    height:auto;
    padding:.5em !important;
    font-size:115% !important;
}

.category-grid-layout .ad-box, .grid-layout .ad-box { border-radius:5px; padding:10px; }
.border-radius-xs { border-radius:2px !important; }

.ad-box-rectangle-category-listing h2 a {
    color:#515d6c;
    text-decoration:none;
}
.ad-box-rectangle-category-listing h2 a:hover {
    color:#009fe3;
}
.hidden-filters {
    display:none;
}
.side-col .hidden-filters-more .more-btn {
    display:inline-block;
    padding:0.625em 2.5em;
    height:50px;
    width:100%;
    font-family:'Source Sans Pro', sans-serif;
    font-weight:600;
    color:#009fe3;
    text-align:center;
    cursor:pointer;
}
.side-col .hidden-filters-more .more-btn:hover {
    color:#337ab7;
}
.ad-box-default .image-wrapper {
    position:relative;
}
.ad-box-default .image-wrapper:after {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(246,246,246,0.24) 60%, rgba(0,0,0,0.4) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(60%, rgba(246,246,246,0.24)), color-stop(100%, rgba(0,0,0,0.4)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(246,246,246,0.24) 60%, rgba(0,0,0,0.4) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(246,246,246,0.24) 60%, rgba(0,0,0,0.4) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(246,246,246,0.24) 60%, rgba(0,0,0,0.4) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(246,246,246,0.24) 60%, rgba(0,0,0,0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
    pointer-events:none;
}
.ad-box-default .image-wrapper:before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.24);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.24) 0%, rgba(246,246,246,0) 30%, rgba(246,246,246,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.24)), color-stop(30%, rgba(246,246,246,0)), color-stop(100%, rgba(246,246,246,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.24) 0%, rgba(246,246,246,0) 30%, rgba(246,246,246,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.24) 0%, rgba(246,246,246,0) 30%, rgba(246,246,246,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.24) 0%, rgba(246,246,246,0) 30%, rgba(246,246,246,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.24) 0%, rgba(246,246,246,0) 30%, rgba(246,246,246,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#f6f6f6', GradientType=0 );
    pointer-events:none;
}

.ad-box-default .image-wrapper .meta {
    z-index:1;
    pointer-events:none;
}
.ad-box-default .image-wrapper .user-info {
    text-shadow:0 1px rgba(0,0,0,0.25);
}

/* remove text-decoration added by normalize.css since some version */
.control-label abbr[title] {
    text-decoration:none;
}

.site-header .search-wrapper .dropdown-menu > li > a.active {
    font-weight:600;
}

.product-box .product-options, .product-box .product-description, .product-box .additional-options, .product-box .homepage-options {
    display:none;
}
.product-box.on .product-options, .product-box.on .product-description {
    display:block;
}
.product-box .product-extras { display:none; }
.product-box .product-extras .extras-prices { display:none; }
.product-box.on .product-extras { display:block; }

/* this is hidden but it needs to exist if we dont want to change logic of how shit is calculated */
.product-box .total-product-price { display:none; }

.hub-3a-slip { width:906px; position:relative; }
.hub-3a-slip span { color:#000; font-weight:bold; font-family:Arial,Helvetica,sans-serif; font-size:12px; line-height:26px; }
.hub-3a-slip span { display:block; position:absolute; width:0; height:0; overflow:hidden; }
.hub-3a-slip .faux-monospace { font-family:'Consolas','Monaco','Courier New', monospace; }
.hub-3a-slip .faux-monospace b { font-weight:normal; }
.hub-3a-slip .faux-monospace .character { display:inline-block; font-size:14px; margin-right:1px; text-align:center; width:13px; }
.hub-3a-slip .iznos  { width:213px; text-align:right; height:26px; right:283px; bottom:325px; }
.hub-3a-slip .platitelj { width:176px; height:65px; text-align:left; left:30px; bottom:272px; }
.hub-3a-slip .primatelj { width:176px; height:66px; text-align:left; left:30px; bottom:160px; }
.hub-3a-slip .broj-racuna { width:300px; height:26px; text-align:left; left:325px; bottom: 240px; }
.hub-3a-slip .broj-racuna .character { /*text-align:justify;*/ }
.hub-3a-slip .poziv-na-broj { width:315px; height:26px; text-align:left; bottom:206px; left:311px; }
.hub-3a-slip .model { width:58px; height:26px; text-align:left; bottom:206px; left:225px; }
.hub-3a-slip .opis-placanja { width:270px; height:20px; text-align:center; bottom:190px; right:283px; }
.hub-3a-slip .barcode { left:35px; bottom:55px; width:230px; height:auto; }
.hub-3a-slip .valuta { bottom:325px; width:42px; left:325px; height:26px; }
.hub-3a-slip .talon { width:250px; height:330px; position:absolute; bottom:25px; right:15px; }
.hub-3a-slip .talon .talon-row { position:absolute; text-align:left; left:12px; font-size:11px; font-weight:normal; line-height:11px; height:11px; width:100%; }
.hub-3a-slip .talon .valuta-i-iznos { bottom:304px; }
.hub-3a-slip .talon .iban-primatelja { bottom:220px; }
.hub-3a-slip .talon .model-i-pbo-primatelja { bottom:186px; }
.hub-3a-slip .talon .opis-placanja { bottom:155px; height:16px; line-height:16px; }

/* fixes youtube video input's box-shadow bleeding on the right side */
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-right:-1px;
}

/* favorite ads' notes */
.saved-ad-note textarea {
    height:calc(100% - 60px);
}
.saved-ad-note .save-note {
    color:#97a2ad;
    opacity:.75;
    pointer-events:none;
}
.saved-ad-note .save-note:hover {
    text-decoration:none;
    cursor:default;
}
.saved-ad-note.bg-color-white .save-note {
    color:#009fe3;
    opacity:1;
    pointer-events:auto;
}
.saved-ad-note.bg-color-white .save-note:hover {
    text-decoration:underline;
    cursor:pointer;
}

.user-cp .side-col ul li.separator {
    border-top: 1px solid #ddd;
    margin:5px 0;
}

.nav-tabs { border-color:#b7bcc2; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-color:#b7bcc2;
    border-bottom-color:#f0f4f6;
    background-color:#f0f4f6;
}
.tab-content .border-radius { border-radius:0 0 4px 4px; }
.box-header h2 {
    font-size:18px;
}
.box-header p {
    margin:0 0 1em;
}
.box-header p:last-child {
    margin-bottom:0;
}

/* date-dropdowns */
.date-dropdowns .date-select {
    display:inline-block;
    width:32% !important;
    margin-right:2% !important;
}
.date-dropdowns .date-select:last-child {
    margin-right:0 !important;
}

.phoneNumberHandler .domesticInput, .phoneNumberHandler .foreignInput { display:none; }
.phoneNumberHandler .countryPrefixSelector .dropdown-toggle { padding:12px 6px 12px 12px; }
.phoneNumberHandler .domesticPrefixSelector .dropdown-toggle { border-radius:0 !important; padding:12px 24px 12px 6px; }
.phoneNumberHandler.domestic .domesticInput:not(.domesticPrefixSelector), .phoneNumberHandler.foreign .foreignInput { display:block; }
.phoneNumberHandler.domestic .domesticInput.domesticPrefixSelector { display:table-cell; }
.phoneNumberHandler input.form-control { padding-left:6px; border-radius:0 8px 8px 0 !important; }

.user-cp .side-col .ad-details-location a.show-on-map { font-weight:normal; color:#33b2e8; font-size:14px; text-decoration:none; }
.user-cp .side-col .ad-details-location a.show-on-map:hover { text-decoration:underline; }

.user-cp-nav .user-header-nav-wrapper { height:60px; }
.user-cp-nav button, .user-cp-nav .btn { height:auto; padding:5px 15px; }

.post-box h3 { font-size:18px; text-align:left; line-height:1.25em; }

.homepage-detailed-category-list ul.main-category > li > a {
    font-weight:600;
}

/* social icons */
.social-btn {
    display:inline-block;
    height:50px;
    width:50px;
    margin-right:20px;
    background-repeat:none;
    background-position:0 0;
    background-size:cover;
    cursor:pointer;
}
.social-btn.twitter {
    background-image:url(../img/button_circle_twitter_default.png);
}
.social-btn.twitter:hover {
    background-image:url(../img/button_circle_twitter_active.png);
}
.social-btn.facebook {
    background-image:url(../img/button_circle_facebook_default.png);
}
.social-btn.facebook:hover {
    background-image:url(../img/button_circle_facebook_active.png);
}
.social-btn.googleplus {
    background-image:url(../img/button_circle_googleplus_default.png);
}
.social-btn.googleplus:hover {
    background-image:url(../img/button_circle_googleplus_active.png);
}



/* category selection */
.new-ad-steps .submit-button-container { display:none; }
.new-ad-steps .category-level-1, .new-ad-steps .category-level-2, .new-ad-steps .category-level-3, .new-ad-steps .category-level-4 { position:relative; }
.new-ad-steps .category-level-1 { width:25%; }
.new-ad-steps .category-level-2, .new-ad-steps .category-level-3, .new-ad-steps .category-level-4 { position:absolute; left:100%; top:0; width:100%; display:none; }
.new-ad-steps li a { display:block; outline: none; position:relative; }
.new-ad-steps li.active > a, .new-ad-steps li > a:hover { text-decoration:none; color:#515d6c; }
.new-ad-steps li.active, .new-ad-steps li:hover { background-color: #eee; }
.new-ad-steps li a .icon, .homepage-detailed-category-list span.category-icon, #mobile-nav a span.icon { float:left; display:inline-block; width:20px; height:20px; margin-right:10px; background-repeat:no-repeat; background-position:center center; background-size:contain; }
.homepage-detailed-category-list span.category-icon { float:none; position:absolute; top:3px; left:3px; margin-right:0; }

.new-ad-steps li > a:after {
    position:absolute;
    right:10px;
    top:50%;
    margin-top:-11px;
    line-height:22px;
    font-family:'FontAwesome';
    font-size:1.5em;
    color:#b7bcc2;
}
.new-ad-steps li.leaf-node > a:after {
    content: "\f00c";
    font-size:14px;
}
.new-ad-steps li.has-children > a:after {
    content: "\f105";
}
.new-ad-steps li.active > a:after, .new-ad-steps li:hover > a:after {
    color:#009fe3;
    opacity:1;
}

@media (max-width: 767px) {
    .new-ad-steps .submit-button-container { padding:0 1em; }
    .bs-row-margins-xs-only {
        margin-left:-15px;
        margin-right:-15px;
    }
    .new-ad-steps a {
        color:#515d6c;
    }
    .new-ad-steps .mobile-overflow-hidden { overflow:hidden; margin-bottom:1em; }
    .new-ad-steps .category-level-1 {
        width:100%;
    }
    .new-ad-steps .category-select.border-right {
        border-right:0;
    }

    .new-ad-steps li > a:after {
        color:#b7bcc2;
    }

    .new-ad-steps .mobile-category-selector-breadcrumbs {
        background:#d0d3d6;
        background:rgba(208, 211, 214, 0.3);
        border-top: 1px solid #d6d8dc;
        border-bottom: 1px solid #d6d8dc;
        font-weight: 700;
        color:#313943;
        line-height: 20px;
        padding: 10px 0;
    }
    .new-ad-steps .mobile-category-selector-breadcrumbs span {
        position:relative;
        padding:0;
        color:#009fe3;
        margin-right:1em;
    }
    .new-ad-steps .mobile-category-selector-breadcrumbs span:after {
        position:absolute;
        font-family:'FontAwesome';
        content:"\f0da";
        margin:0 0.3em 0;
        font-weight:normal;
        color:#b7bcc2;
    }
    .new-ad-steps .mobile-category-selector-breadcrumbs span:hover {
        cursor:pointer;
        text-decoration:underline;
    }
    .new-ad-steps .mobile-category-selector-breadcrumbs span:last-child:after {
        content:"";
        margin:0;
    }
    .new-ad-steps .mobile-category-selector-breadcrumbs span:last-child {
        color:#313943;
        pointer-events:none;
    }
}

input.icon-field {
    padding-left:64px !important;
    background-repeat:no-repeat;
    background-position:21px center;
}
input.icon-field.username {
    background-image:url(../img/icon-user-24.png);
}
input.icon-field.email {
    background-image:url(../img/icon-envelope-24.png);
}
input.icon-field.password {
    background-image:url(../img/icon-pwd-24.png);
}

.user-registration .side-col h2 {
    font-size:21px;
}
.user-registration .side-col p {
    font-size:14px;
}

.ad-box-default.mapPreview .image-wrapper { width:200px; height:200px; }
.ad-box-default.mapPreview h3 { height:auto; }

.modal-backdrop-logo {
    background-image:url(../img/logo-negative.svg);
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size:20%;
    width:100%;
    height:100px;
    position:absolute;
    left:0;
    top:0;
}
.modal-generic .modal-dialog { margin-top:100px; }
.msg-box.msg-read .box-header { background-color:transparent; }

@media (max-width: 767px) {
    .modal-backdrop-logo {
        background-size:50%;
    }
}

/* shopping window editor stuff */
.featured-shops-box-preview .box-classifieds { height:auto; }
.featured-shops-box-preview .classified-details img { width:100%; }
.featured-shops-box-preview .classified-details .editor-actions { color:#fff; position:absolute; top:auto; bottom:0; left:15px; right:15px; background-color:rgba(0, 0, 0, .5); text-align:right; opacity:.5; display:block; border-radius:0 0 4px 4px; }
.featured-shops-box-preview .classified-details .editor-actions a { color:#009fe3; }
.featured-shops-box-preview .classified-details .editor-actions a:hover { text-decoration:none; }
.featured-shops-box-preview .classified-details:hover .editor-actions { opacity:1; }
.featured-shops-box-preview .classified-details .editor-actions .action-btn { margin-right:10px; cursor:pointer; }
.featured-shops-box-preview .classified-details .editor-actions .remove-from-shopping-window { color:#d9534f; }

/* Search autocomplete hacks */
.search-header { padding:3px 20px; background-color:#eef3f5; border:solid 1px #c8cdd4; border-left:0; border-right:0; color:#c8cdd4; line-height:normal; }
.tt-suggestion a.suggestion { display:block; color:#333; text-decoration:none; }
.tt-suggestion:hover a.suggestion { color:#009fe3 !important; }

/* fix featured shops windows h2 on mobile */
.featured-shops-windows h2 { border-top:0 !important; }

.featured-shops .slick-slider { margin-bottom:0; }

/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 *
 * @geedmo - Licensed under the MIT license
 */
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
    position: static;
}
.yamm .container {
    position: relative;
}
.yamm .dropdown-menu {
    left: auto;
}
.yamm .yamm-content {
    padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0;
}

li.yamm { position:relative; }
.yamm .dropdown.yamm-fw .dropdown-menu { left:-40px; }
@media (min-width: 1279px) {
    .yamm-fw .dropdown-menu { width:1220px; }
}
.site-header .yamm .dropdown-menu:before { left:175px; }
.yamm-content .sponsorship-logo { display:none; }
.site-header .container ul.nav > li.yamm a.dropdown-toggle { text-decoration:none; }
.yamm-content hr { border:0; border-top:1px solid #515d6c; display:block; clear:both; }

.yamm-content ul.subcategory { font-size:14px; font-weight:400; }
.yamm-content .blue-links a { color:#0a94e3 !important; }

/* mobile menu */
.mm-slideout { z-index:auto !important; }
.mobile-navigation { display:none; }
.mm-listview li:after { left: 0 !important; }
.mm-listview a { color:#313943; font-weight:600; }
.mm-listview a:hover { color:#0a94e3; }
.mm-menu .mm-listview > li.mm-opened.mm-vertical > a.mm-next,
.mm-menu.mm-vertical .mm-listview > li.mm-opened > a.mm-next { background:#fff !important; }
.mm-listview .mm-vertical .mm-panel,
.mm-vertical .mm-listview .mm-panel { padding:0 !important; background:#fff !important; }
.mm-menu .mm-listview > li.mm-opened.mm-vertical > a.mm-next.mm-fullsubopen,
.mm-menu.mm-vertical .mm-listview > li.mm-opened > a.mm-next.mm-fullsubopen { background:rgba(0,0,0,.05) !important; }

.scrollable-menu {
    height: auto;
    max-height: 242px;
    overflow-x: hidden;
}

/* two column classifieds fix */
@media (max-width: 1279px) {
    .grid-layout .col-xs-6.odd {
        padding-right:7px;
    }
    .grid-layout .col-xs-6.even {
        padding-left:7px;
    }
    .grid-layout .ad-box.margin-bottom-lg {
        margin-bottom:15px;
    }
    .shop-details.closed .excerpt { display:none; }

    /*
    Make .featured-classifieds spacing between elements look the same as "Top oglasi dana"
    This suffers from a slight "jitter" when the last slide is shown, when the originally output number of elements
    is not even. Not really sure how to fix it only with css for current markup.
    */
    .featured-classifieds .grid-layout .col-xs-6:nth-child(odd) {
        padding-right:7px;
    }
    .featured-classifieds .grid-layout .col-xs-6:nth-child(even) {
        padding-left:7px;
    }
    .featured-classifieds .grid-layout .slick-track > .slick-active {
        padding-right:7px;
        padding-left:15px;
    }
    .featured-classifieds .grid-layout .slick-active ~ .slick-active {
        padding-left:7px;
        padding-right:15px;
    }
}

@media (max-width: 767px) {
    /* tabbify ad-details */
    .convert-to-tab-xs { margin-top:0; }
    h3.convert-to-tab-xs { font-family: 'Source Sans Pro', sans-serif; font-size: 114.28571429%; font-weight:700; }
    .ad-details.closed .col-sm-10, .ad-details.closed > p { display:none; }

    /*
        try to lower the space on mobile screens for margin-top-lg and margin-bottom-lg. we'll try by
        equalizing -lg with -md and see where it'll take us..
    */
    .margin-bottom-lg { margin-bottom:15px; }
    .margin-top-lg { margin-top:15px; }
}


.user-cp-nav ul > li > ul { display:none; }
.user-cp-nav .notification-count { background-color:#ed5565; color:#fff; border-radius:9px; line-height:1em; height:18px; padding:1px 5px 3px; margin:20px 0 11px .5em; font-size:14px; }

@media (max-width: 1279px) {
    .user-cp-nav ul > li { padding:0 15px; }
}
@media (min-width: 768px) and (max-width: 1339px) {
    .page-header-user-dashboard .avatar-holder { width:150px; }
}
@media (max-width: 767px) {
    .user-cp-nav .user-header-nav-wrapper { height:auto; }
    .user-cp-nav ul > li > a { display:block; }
    .user-cp-nav ul > li.active ul { display:block; }
    .user-cp-nav ul > li.active ul li { border-top:0; }
    .user-cp-nav ul > li.active ul a { display:block; color:#979ea6; font-size:14px; }
    .user-cp-nav ul > li.active ul a:hover, .user-cp-nav ul > li.active ul .active a { color:#009fe3; }
    .ad-box-wide .image-wrapper { width:60px; height:60px; }
    .ad-box-wide .info-wrapper { padding-left:100px; }
    .user-cp-nav .notification-count { margin:11px 0; }
}

@media (max-width: 767px) {
    .phone-prefix-selector .btn.dropdown-toggle {
        padding-right:25px;
    }
}

/* changes due to usage of fontawesome instead of glyphicons */
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark { margin-top:3px; }
/* monkey business with selectpicker to mimic that only 'deselect' button is displayed on multiple selects */
.onlyDeselect .bs-searchbox + .bs-actionsbox { padding:4px 8px; }
.bs-actionsbox .btn-group button { height:auto; }
.onlyDeselect .bs-actionsbox .btn-group button.bs-select-all { display:none; }
.onlyDeselect .bs-actionsbox .btn-group button { /*width:100%;*/ }

/* ads submission process: payment screen optimization for tablet/mobile */
@media (max-width: 767px) {
    .payment-recap dl, .payment-recap span.total {
        display:block;
        padding:1em;
        margin:0;
        border-top:1px solid #eee;
    }
    .payment-recap dl:first-child {
        border-top:0;
    }
    .payment-recap dt { float:left; width:70px; margin-bottom:5px; font-weight:600; font-size:13px; line-height:18px; }
    .payment-recap dd { margin-bottom:5px; margin-left:70px; color:#009fe3; font-size:13px; line-height:18px; }
    .payment-recap span.total { text-align:center; }
}



.user-cp .side-col .classifieds-listing-sidebar ul { padding-left:17px; list-style:initial; }

/* make masonry-articles images full width */
.masonry-articles img, .masonry-articles .img {
    width:100%;
}

@media (max-width: 767px) {
    .masonry-articles .masonry-item {
        width:50%;
    }
}
@media (max-width: 480px) {
    .masonry-articles .masonry-item {
        width:100%;
    }
}

.featured-classifieds .slick-slide .user-info img { display:inline; }

@media (min-width: 768px) {
    .image-wrapper img.landscape {
        display:block;
        width:100%;
        height:auto;
        margin:0;
    }

    .image-wrapper img.portrait {
        display:block;
        width:auto;
        height:100%;
        margin:0 auto;
    }
}

.subHeader {
    margin:10px 0 -10px;
    background-color:#009fe3;/*#0980b8;*/
    color:#fff;
    font-size:85%;
}

.subHeader ul.links {
    list-style:none;
    line-height:normal !important;
    margin:9px 0 0;
    padding:0;
}

.subHeader ul.links li {
    position:relative;
    float:left;
}

.subHeader ul.links li:after {
    float:right;
    content: '|';
    margin-left:5px;
    margin-right:5px;
}
.subHeader ul.links li:last-child:after {
    content: '';
}

.subHeader ul.links li a {
    display:inline-block;
    margin-top:1px;
    color:#fff;
}

.subHeader ul.links.social {
    margin-top:8px;
}

.subHeader ul.links.social li a {
    margin-top:2px;
}

.subHeader ul.links.social li a:hover {
    color:#515d6c;
}

.homepage-300px {
    float:right;
    width:300px;
}

.homepage-main {
    float:left;
    width:calc(100% - 330px);
}
.homepage-main.full-width {
    float:none;
    width:100%;
}

.homepage-section .row {
    margin-left: -10px;
    margin-right: -10px;
}

.homepage-sections .col-sm-1, .homepage-sections .col-sm-2, .homepage-sections .col-sm-3, .homepage-sections .col-sm-4,
.homepage-sections .col-sm-5, .homepage-sections .col-sm-6, .homepage-sections .col-sm-7, .homepage-sections .col-sm-8,
.homepage-sections .col-sm-9, .homepage-sections .col-sm-10, .homepage-sections .col-sm-11, .homepage-sections .col-sm-12,
.homepage-sections .col-md-1, .homepage-sections .col-md-2, .homepage-sections .col-md-3, .homepage-sections .col-md-4,
.homepage-sections .col-md-5, .homepage-sections .col-md-6, .homepage-sections .col-md-7, .homepage-sections .col-md-8,
.homepage-sections .col-md-9, .homepage-sections .col-md-10, .homepage-sections .col-md-11, .homepage-sections .col-md-12,
.homepage-sections .col-lg-1, .homepage-sections .col-lg-2, .homepage-sections .col-lg-3, .homepage-sections .col-lg-4,
.homepage-sections .col-lg-5, .homepage-sections .col-lg-6, .homepage-sections .col-lg-7, .homepage-sections .col-lg-8,
.homepage-sections .col-lg-9, .homepage-sections .col-lg-10, .homepage-sections .col-lg-11, .homepage-sections .col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
}

.homepage-sections .section-box {
    position:relative;
    display:block;
    width:100%;
    padding:10px;
    height:170px;
    border-radius:3px;
    background-color:#efefef;
    margin-bottom:20px;
    text-align:center;
    overflow:hidden;
}

.homepage-sections .section-box .background {
    display:block;
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    border-radius:3px;
    z-index:0;
    background-position: center;
    background-size: cover;
    transition: all .4s ease-in-out;
}
.homepage-sections .section-box:hover .background {
    transform: scale(1.1);
}
.homepage-sections .section-box .background:after {
    display:block;
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    content: ' ';
    background-color:rgba(0, 0, 0, .35);
    border-radius:3px;
    z-index:1;
    transition: all .4s ease-in-out;
}
.homepage-sections .section-box:hover .background:after {
    background-color:rgba(0, 145, 208, 0);
}

.homepage-sections .section-box a {
    display:table;
    width:100%;
    height:100%;
    text-decoration:none;
}

.homepage-sections .section-box .info {
    display: table-cell;
    vertical-align: middle;
    position:relative;
    z-index:2;
}

.homepage-sections .section-box:hover a {
    text-decoration:none;
}

.homepage-sections .section-box .icon {
    display:block;
    width:28px;
    height:28px;
    margin:0 auto;
}
.homepage-sections .section-box .icon img {
    display:block;
    width:100%;
    height:100%;
}
.homepage-sections .section-box h2 {
    margin:0;
    padding:0;
    text-transform:uppercase;
    font-size:20px;
    color:#fff;
    text-shadow:0 0 5px #000;
}
.homepage-sections .section-box .count {
    margin:0;
    padding:0;
    font-size:12px;
    color:#fff;
}

@media (max-width: 1279px) {
    .homepage-main {
        float:none;
        width:100%;
    }
    .homepage-300px {
        display:none;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .site-footer .back-to-top {
        right:1.5em;
    }
}

@media (max-width: 767px) {
    .section-title.homepage-section-title {
        border-top:0;
        padding-top:0;
    }
    .homepage-sections .col-xs-6:nth-child(odd) {
        padding-right:5px;
    }
    .homepage-sections .col-xs-6:nth-child(even) {
        padding-left:5px;
    }
    .homepage-sections .section-box {
        margin-bottom:10px;
        height:100px;
    }

    .homepage-sections .section-box .icon {
        width:20px;
        height:20px;
    }
    .homepage-sections .section-box h2 {
        font-size:12px;
        border-top:0;
    }
    .homepage-sections .section-box .count {
        font-size:10px;
    }
    .back-to-top {
        display:block;
    }
}
