ul.pictureSorter {
    list-style:none;
    padding:0;
}

ul.pictureSorter li {
    padding:15px;
}

ul.pictureSorter .placeholder {
    background-color:#f9f9f9;
}

.pictureSorterBox {
    position:relative;
    padding:5px;
    border:1px solid #f0f0f0;
    background-color:#f5f5f5;
}

.pictureSorterBox:hover {
    border:1px solid #e5e5e5;
    background-color:#f0f0f0;
}

.pictureSorterBox .drag-me {
    cursor: move;
    color:#616161;
}

.pictureSorterBox .drag-me:hover {
    color:#018be3;
}

.pictureSorterBoxPic {
    display:block;
    margin-bottom:5px;
    min-height:60px;
}

.pictureSorterBoxPic img {
    max-width:100%;
    width:160px;
    height:auto;
}
