{% set main_pic_thumb = 'http://placehold.it/1920x520' %}
{% if not (content_media is empty) and content_media.valid() %}
    {% set main_pic = content_media[0] %}
    {% set main_pic_thumb = main_pic.get_thumb('CMS-1500x400').getSrc() %}
{% endif %}
<div class="page-header"{{ main_pic_thumb ? ' style="background-image:url(' ~ main_pic_thumb ~ ')"' : ''}}>
    <div class="container fixed-height position-relative">
        <div class="row">
            <div class="text col-lg-8 col-lg-offset-1">
                <h1 class="hidden-xs">{{ content.title }}</h1>
            </div>
        </div>
    </div>
</div>
<div class="container margin-top-md">
    <div class="row">
        <div class="main-col col-lg-8 col-lg-offset-1 article">
            <h1 class="hidden-sm hidden-md hidden-lg margin-top-0">{{ content.title }}</h1>
            {% if content.excerpt %}<div class="excerpt">{{ content.excerpt }}</div>{% endif %}
            {{ content.content }}
        </div>
        <div class="side-col col-lg-3">
            {% if banners and banner_home_300x250 is defined %}
            <div class="banner sidebar-rectangle-holder banner-rect-articles hidden-sm hidden-xs">{{ banner_home_300x250 }}</div>
            {% endif %}
        </div>
    </div>
</div>
