{{ form(NULL, 'id':'frm_avatar_coverbg_uploads', 'method':'post', 'enctype':'multipart/form-data', 'autocomplete':'off', 'style':'display:none') }}
    {{ hiddenField('_csrftoken') }}
    <input type="file" id="avatarCoverBgField" name="" style="display:none">
{{ endForm() }}
