
<div class="page" style="font:12px arial, sans-serif;  margin:0;" >

{#CONTEXT<pre>{{ print_r( _context, true ) }}</pre> #}

<!-- OVDE REPORT -->

	{% set _payment_type = null %}
	{% set _order_status = null %}
	{% set _from_date = null %}
	{% set _to_date = null %}
{#{var_dump(_context)}#}
	{% if _model.n_validate(_context['report_param_publication_id'], 'id')  %}
		PUB_ID:{{ _context['report_param_publication_id'] }}
		{% set _pub_id =  _context['report_param_publication_id'] %}
	
		PUB_ID: {{ _pub_id }}
		{% set _publication = _model.Publication( _pub_id ) %}
		{#{var_dump(_publication)}#}
	{% else %}
		Nije poslan parameter report_param_publication_id
	{% endif %}
	

	
	{{txtOrder}}
	{% if _publication %}
	{%  set cms = _publication.CategoriesMappings() %}
	
	count:{{ cms.count() }}
	{% endif %}
		<div style="text-align:center;" class="row">
			<h2>
				Lista Kategorija za publikaciju
			</h2>		
		</div>
		<br/>
		<br/>
		<br/>
{#	<table style="width:100%;">
		<tr>
			<th style="width:30%; font-weight: bold; text-align:right;"></th>
			<th style="width:30%; font-weight: normal; "></th>
		</tr>

		<tr>
			<td>Publication:</td>
			<td>{{_publication.name}}</td>
		</tr>
	</table>
	
	<br/>
	<hr/>
	

	<table class="table table-bordered">
		<tr>
			<th>Id</th>
			<th>Parent_Id</th>
			<th>Lft</th>
			<th>Sort Order</th>
			<th>Rght</th>
			<th>Root_Id</th>
			<th>Level</th>
			<th>Transaction Type</th>
			<th>Paid Category</th>
			<th>Name</th>
			<th>Url</th>
			<th>Excerpt</th>
			<th>N_Path</th>
		
		</tr>
		{%  for cm in cms %}	
		<tr>
			<td>{{cm.id}}</td>
			<td>{{cm.parent_id}}</td>
			<td>{{cm.lft}}</td>
			<td>{{cm.sort_order}}</td>
			<td>{{cm.rght}}</td>
			<td>{{cm.root_id}}</td>
			<td>{{cm.level}}</td>
			<td>{{cm.transaction_type_id}}</td>
			<td>{{cm.paid_category}}</td>
			<td>{{cm.name}}</td>
			<td>{{cm.url}}</td>
			<td>{{cm.excerpt}}</td>
			<td>{{cm.n_path}}</td>
		</tr>
		{% endfor %} 
		
	
	
	</table> #}
	
	
	

	 
	ID;ParentId;Lft;Sort Order;Rght;RootId;Level;TransactionTypeId;PaidCategory;Name;Url;Excerpt;NPath:n_publications_id;dtp_group_id;n_original_category_id;eps_file_path;layout_id;active;<br/>
	{%  for cm in cms %}
		{{cm.id}};
		{{cm.parent_id}};
		{{cm.lft}};
		{{cm.sort_order}};
		{{cm.rght}};
		{{cm.root_id}};
		{{cm.level}};
		{{cm.transaction_type_id}};
		{{cm.paid_category}};
		{{cm.name}};
		{{cm.url}};
		{{cm.excerpt}};
		"{{cm.n_path}}";
		{{cm.n_publications_id }};
		{{cm.dtp_group_id}};
		{{cm.n_original_category_id}};
		{{cm.eps_file_path}};
		{{cm.layout_id}};
		{{cm.active}};
		
		<br/>
	{% endfor %} 
	 
</div>
