<hr>
{{ partial("partials/blkFlashSession") }}
</hr>

<div>
<a class="btn btn-primary" href="/{{ _context['dtp_zip_file_url'] }}" >DOWNLOAD XML REPORT WITH PICTURES</a>
</div>
<textarea style="width:100%; height:500px;">{{xml}}</textarea>

