<!DOCTYPE html>
<html class="no-js" lang="hr">
<head>
    <meta charset="utf-8">
    <?php echo $this->tag->gettitle(); ?>
    <meta name="description" content="<?php echo $site_desc; ?>">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <meta property="fb:app_id" content="<?php echo $this->config->social->fb_app_id; ?>">
    <meta property="fb:pages" content="53962986681">
    <meta property="og:site_name" content="Oglasnik.hr"/>
    <meta name="google-site-verification" content="gHg3AUv8yKIUTPwdorSp_NV7cEBpT0Pb65FtV_kYneA">
    <link rel="icon" type="image/x-icon" href="<?php echo $this->url->getStatic('favicon.ico'); ?>"><?php if (!(empty($og_meta))) { ?>
        <?php echo $og_meta; ?>
    <?php } ?>

    <script>
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>
    <?php echo $this->assets->outputCss(); ?><?php if ($banners) { ?><script type="text/javascript">
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
        (function() {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
            var node =document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        })();
    </script>
    <?php } ?><?php if ($curr_env == 'production') { ?>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NGSS62');</script>
    <!-- End Google Tag Manager -->
    <!-- GoogleAnalytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-2093500-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- Hotjar Tracking Code for http://www.oglasnik.hr -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:287193,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
        <?php if (isset($fb_pixel) && $fb_pixel) { ?>
        <!-- Facebook Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
                n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                    document,'script','https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '838932269508780');
            fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=838932269508780&ev=PageView&noscript=1"/></noscript>
        <!-- End Facebook Pixel Code -->
        <?php } ?><?php } ?>
    <?php if (isset($head_scripts) && count($head_scripts)) { ?>
        <?php foreach ($head_scripts as $script) { ?>
        <script type="text/javascript"><?php echo $script; ?></script>
        <?php } ?><?php } ?><?php echo $this->assets->outputJs('head'); ?><?php if ($banners) { ?>
        <script type="text/javascript" charset="utf-8" src="//ad.adverticum.net/g3.js"></script>
        <script type="text/javascript">
            var goAdZonesRequested = <?php echo $banner_zone_ids; ?>;
            if (window.goAdverticum3) {
                window.goAdverticum3.loadZones({ zones: goAdZonesRequested });
            }
        </script>
    <?php } ?>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NGSS62" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- FacebookSDK/start -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '<?php echo $this->config->social->fb_app_id; ?>',
                xfbml      : true,
                version    : 'v2.6'
            });
        };
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/hr_HR/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- FacebookSDK/end -->

    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <?php if ($banners && isset($banner_background)) { ?>
        <div class="banner banner-background hidden-xs hidden-sm"><?php echo $banner_background; ?></div>
    <?php } ?>

    <div id="page-mm-container" class="page-mm-container">

        <?php if ($banners && isset($banner_billboard)) { ?>
        <div class="banner-container banner-container-billboard text-center hidden-xs hidden-md">
            <?php echo $banner_billboard; ?>
        </div>
        <?php } ?>

        <nav id="mobile-nav" class="mobile-navigation"><?php $this->partial(('chunks/mmenu')); ?></nav>

        <div id="top"></div>
        <div class="site-header hidden-xs">
            <div class="container">
                <a class="homer hidden-sm" href="<?php echo $this->url->get(null); ?>"></a>
                <a href="javascript:void(0);" class="mobile-nav-trigger hidden-md hidden-lg"><span class="fa fa-navicon icon"></span><span class="mobile-nav-trigger-text">Menu</span><?php if ($userUnreadMsgCount > 0) { ?><span class="count-pos count-text"> <?php echo $userUnreadMsgCount; ?></span><?php } ?></a>
                <ul class="nav hidden">
                    <li class="yamm">
                        <div class="dropdown yamm-fw">
                            <a href="<?php echo $this->url->get('categories/all'); ?>" class="dropdown-toggle" data-toggle="dropdown">Kategorije</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content homepage-detailed-category-list">
                                        <div class="row">
                                            <div class="col-md-12 blue-links">
                                                Izdvojene kategorije <a href="<?php echo $this->url->get('categories/all'); ?>" class="margin-left-10px">Otvori sve kategorije</a>
                                                <hr>
                                            </div>
                                            <?php if (isset($megamenu_sections_markup)) { ?>
                                                <?php echo $megamenu_sections_markup; ?>
                                            <?php } ?>
                                            <div class="col-md-12">
                                                <hr>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Oglasi</a>
                            <ul class="dropdown-menu">
                                
                                <li><a href="<?php echo $this->url->get('novi-oglasi'); ?>">Novi oglasi</a></li>
                                <li><a href="<?php echo $this->url->get('popularni-oglasi'); ?>">Popularni oglasi</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <?php if ($layout_features['search_bar']) { ?>
                    <?php $main_search_category_id = (empty($main_search_category) ? ('') : ($main_search_category)); ?>
                    <?php $main_search_category_name = ((empty($searchCategories[$main_search_category_id]) ? (null) : ($searchCategories[$main_search_category_id])) ? $searchCategories[$main_search_category_id]->name : 'Sve kategorije'); ?>
                <form action="<?php echo $this->url->get('search'); ?>" class="searchform js-allow-double-submit<?php if (!$layout_features['mobile_search_bar_visible_initially']) { ?> hidden-xs<?php } ?>" id="main_search_form" autocomplete="off">
                    <div class="search-wrapper">
                        <div class="input-group">
                            <input name="q" id="main_search_term" type="text" class="form-control search-term default-form-control" arial-label="..." placeholder="Upišite pojam ili šifru oglasa" value="<?php echo $this->escaper->escapeHtmlAttr((empty($main_search_term) ? ('') : ($main_search_term))); ?>">
                            <input name="category_id" class="search-category-input" id="main_search_category" type="hidden" value="<?php echo (empty($main_search_category) ? ('') : ($main_search_category)); ?>">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="dropdown-button-name"><?php echo $main_search_category_name; ?></span> <span class="caret"></span></button>
                                <ul class="dropdown-menu category-chooser">
                                    <li><a href="#"<?php echo ('' == $main_search_category_id ? 'class="active"' : ''); ?> data-category-id="">Sve kategorije</a></li>
                                    <?php foreach ($categories as $searchCategory) { ?>
                                    <li><a href="#"<?php echo ($searchCategory->id == $main_search_category_id ? 'class="active"' : ''); ?> data-category-id="<?php echo $searchCategory->id; ?>" data-category-href="<?php echo $this->url->get($searchCategory->url); ?>"><?php echo $searchCategory->name; ?></a></li>
                                    <?php } ?>
                                </ul>
                            </div>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default btn-search"><span class="fa fa-search"></span></button>
                            </span>
                        </div>
                    </div>
                </form>
                <?php } ?>

                <div class="pull-right header-right">
                    <?php if ($this->auth->logged_in()) { ?>
                    <div class="user-menu-wrapper dropdown hidden-xs hidden-sm">
                        <?php $user = $this->auth->get_user(); ?>
                        <?php $avatar = $user->getAvatar()->setClass('avatar-header img-circle')->setWidth(39)->setHeight(39); ?>
                        <button type="button" class="btn btn-default dropdown-toggle user-cp background-transparent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="username"><?php echo $user->username; ?></span>
                            <?php echo $avatar; ?><?php if ($userUnreadMsgCount > 0) { ?><span class="count-pos count-text"> <?php echo $userUnreadMsgCount; ?></span><?php } ?>
                        </button>
                        <ul class="dropdown-menu">
                            <?php if ($this->auth->logged_in(array('admin', 'supersupport', 'support', 'finance', 'moderator', 'content', 'sales'))) { ?>
                            <li><a href="<?php echo $this->url->get('admin'); ?>">Admin</a></li>
							<li><a href="<?php echo $this->url->get('suva'); ?>">SUVA</a></li>
                            <?php } ?>
                            <li><a href="<?php echo $this->url->get('moj-kutak/podaci'); ?>">Postavke profila</a></li>
                            <li><a href="<?php echo $this->url->get('moj-kutak/svi-oglasi'); ?>">Moji oglasi</a></li>
                            <li><a href="<?php echo $this->url->get('moj-kutak/spremljeni-oglasi'); ?>">Spremljeni oglasi</a></li>
                            <li><a href="<?php echo $this->url->get('moj-kutak/poruke'); ?>">Poruke<?php if ($userUnreadMsgCount > 0) { ?><span class="count-text"> <?php echo $userUnreadMsgCount; ?></span><?php } ?></a></li>
                            <li><a href="<?php echo $this->url->get('info/pomoc'); ?>">Pomoć</a></li>
                            <li><a href="<?php echo $this->url->get('user/signout'); ?>" class="color-secondary-red">Odjava</a></li>
                        </ul>
                    </div>
                    <?php } else { ?>
                    <p class="login-register-buttons hidden-xs hidden-sm">
                        <a href="<?php echo $this->url->get('user/signin'); ?>">Prijava</a> |
                        <a class="active" href="<?php echo $this->url->get('user/signup'); ?>">Registracija</a>
                    </p>
                    <?php } ?>
                    <a href="<?php echo $this->url->get('predaja-oglasa') . (($submit_ad_category ? '?category_id=' . $submit_ad_category : '')); ?>" class="btn light-blue predaj-oglas">Predaj oglas</a>
                </div>
            </div>
            <div class="subHeader">
                <div class="container">
                    <?php if ((empty($subHeaderLinks_contents) ? (null) : ($subHeaderLinks_contents))) { ?>
                    <div class="pull-left"><ul class="links"><?php echo $subHeaderLinks_contents; ?></ul></div>
                    <?php } ?>
                    <div class="pull-right">
                        <ul class="links social">
                            <li><a href="https://www.facebook.com/plavioglasnik/" target="_blank"><span class="fa fa-facebook fa-fw"></span></a></li>
                            <li><a href="https://www.instagram.com/oglasnik.hr/" target="_blank"><span class="fa fa-instagram fa-fw"></span></a></li>
                            <li><a href="https://twitter.com/oglasnik" target="_blank"><span class="fa fa-twitter fa-fw"></span></a></li>
                            <li><a href="https://plus.google.com/+oglasnik" target="_blank"><span class="fa fa-google-plus fa-fw"></span></a></li>
                            <li><a href="https://www.linkedin.com/company/oglasnik-d.o.o." target="_blank"><span class="fa fa-linkedin fa-fw"></span></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"><!--IE--></div>
                </div>
            </div>
        </div>

        <div class="header-mobile hidden-sm hidden-md hidden-lg">
            <div class="top-row">
                <a href="javascript:void(0);" class="mobile-nav-trigger"><span class="fa fa-navicon icon"></span><?php if ($userUnreadMsgCount > 0) { ?><span class="count-pos count-text"> <?php echo $userUnreadMsgCount; ?></span><?php } ?></a>
                <a class="homer" href="<?php echo $this->url->get(null); ?>"></a>

                <span class="after-homer">
                    <a href="<?php echo $this->url->get('predaja-oglasa') . (($submit_ad_category ? '?category_id=' . $submit_ad_category : '')); ?>" class="visible-md visible-lg hidden-xs btn light-blue predaj-oglas">Predaj oglas</a>
                    <?php if ($layout_features['search_bar'] && $layout_features['mobile_search_bar_toggler']) { ?>
                    <a href="#search-xs" class="visible-xs-inline-block js-search-toggle<?php if ($layout_features['mobile_search_bar_visible_initially']) { ?> is-active<?php } ?>"><span class="fa fa-search"></span></a>
                    <?php } ?>
                </span>
            </div>
            <?php if ($layout_features['search_bar']) { ?>
            <div class="search-wrapper">
                <form action="<?php echo $this->url->get('search'); ?>" class="searchform js-allow-double-submit<?php if (!$layout_features['mobile_search_bar_visible_initially']) { ?> hidden-xs<?php } ?>" id="search-xs" autocomplete="off">
                    <div class="input-group input-group-sm">
                        <input name="q" id="search-xs-term" type="text" class="form-control search-term" placeholder="Pojam ili šifra oglasa" value="<?php echo $this->escaper->escapeHtmlAttr((empty($main_search_term) ? ('') : ($main_search_term))); ?>">
                        <span class="input-group-addon category-addon">
                            <select name="category_id" id="mobile-search-category">
                                <option value=""<?php echo ('' == $main_search_category_id ? ' selected' : ''); ?>>Sve kategorije</option>
                                <?php foreach ($categories as $searchCategory) { ?>
                                <option value="<?php echo $searchCategory->id; ?>"<?php echo ($searchCategory->id == $main_search_category_id ? ' selected' : ''); ?>><?php echo $searchCategory->name; ?></option>
                                <?php } ?>
                            </select>
                        </span>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default"><span class="fa fa-search icon"></span></button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="visible-xs hidden-md hidden-lg">
                <a href="<?php echo $this->url->get('predaja-oglasa') . (($submit_ad_category ? '?category_id=' . $submit_ad_category : '')); ?>" class="btn btn-sm light-blue predaj-oglas predaj-oglas-large">Predaj oglas</a>
            </div>
            <?php } ?>
        </div>

        <?php if (!$layout_features['full_page_width']) { ?>
        <div class="container no-padding-xs">
        <?php } ?>

            <?php if ($banners && isset($banner_mobile_top)) { ?>
            <div class="text-center banner banner-mobile-top margin-top-sm visible-xs"><?php echo $banner_mobile_top; ?></div>
            <?php } ?>

            <div class="site-wrapper position-relative pad-xs-only-lr">
                <?php if ($layout_features['full_page_width']) { ?>
                    <div class="container">
                <?php } ?>
                <?php echo $this->flashSession->output(); ?>
                <?php if ($layout_features['full_page_width']) { ?>
                    </div>
                <?php } ?>

                <?php echo $this->getContent(); ?>
            </div>
        <?php if (!$layout_features['full_page_width']) { ?>
        </div> <!-- end .container -->
        <?php } ?>

        <?php if ($layout_features['footer']) { ?>
    <div class="container pad-xs-only-lr text-right margin-top-lg margin-bottom-lg visible-xs"><a href="#top" class="back-to-top">Povratak na vrh</a></div>

    <div class="site-footer">
        <div class="top clearfix">
            <div class="container">
                <a href="#top" class="back-to-top hidden-xs">Povratak na vrh</a>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                            <h3>Oglasnik</h3>
                            <ul>
                                <li><a href="<?php echo $this->url->get('user/signup'); ?>">Registracija</a></li>
                                <li><a href="<?php echo $this->url->get('predaja-oglasa'); ?>">Predaja oglasa</a></li>
                                <li><a href="<?php echo $this->url->get('moj-kutak'); ?>">Vaš kutak</a></li>
                                <li><a href="<?php echo $this->url->get('info/cjenik'); ?>">Cjenik</a></li>
                                <li><a href="<?php echo $this->url->get('info/o-nama'); ?>">O nama</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <h3>Sigurnost</h3>
                            <ul>
                                <li><a href="<?php echo $this->url->get('info/sigurnost-placanja'); ?>">Sigurnost plaćanja</a></li>
                                <li><a href="<?php echo $this->url->get('info/uvjeti-koristenja'); ?>">Uvjeti korištenja</a></li>
                                <li><a href="<?php echo $this->url->get('info/uvjeti-kupnje'); ?>">Uvjeti kupnje</a></li>
                                <li><a href="<?php echo $this->url->get('info/sigurnost'); ?>">Sigurnost</a></li>
                            </ul>
                        </div>
                        <div class="clearfix visible-xs-block"></div>
                        <div class="col-xs-6 col-sm-3">
                            <h3>Pomoć</h3>
                            <ul>
                                <li><a href="<?php echo $this->url->get('info/kontakt-i-podrska'); ?>#">Kontakt i podrška</a></li>
                                <li><a href="<?php echo $this->url->get('user/pwdforgot'); ?>">Izmjena lozinke</a></li>
                                <li><a href="<?php echo $this->url->get('info/cesto-postavljana-pitanja'); ?>">Česta pitanja</a></li>
                                <li><a href="<?php echo $this->url->get('info/pomoc'); ?>">Pomoć</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <h3>Pratite nas</h3>
                            <ul class="social">
                                <li><a target="_blank" class="facebook" href="https://www.facebook.com/plavioglasnik/">Oglasnik</a></li>
                                <li><a target="_blank" class="viber svg-bg" href="http://www.viber.com/oglasnik">Oglasnik</a></li>
                                <li><a target="_blank" class="instagram" href="https://www.instagram.com/oglasnik.hr/">@oglasnik.hr</a></li>
                                <li><a target="_blank" class="twitter" href="https://twitter.com/oglasnik">@Oglasnik</a></li>
                                <li><a target="_blank" class="gplus" href="https://plus.google.com/+oglasnik">+Oglasnik</a></li>
                                <li><a target="_blank" class="linkedin svg-bg" href="https://www.linkedin.com/company/oglasnik-d.o.o.">Oglasnik</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="container">
                <span class="footer-logo margin-bottom-footer-logo-xs-only pull-left-xs"></span>1989-<?php echo date('Y'); ?> &copy; Oglasnik d.o.o.<br class="visible-xs"> Sva prava pridržana.
            </div>
        </div>
    </div>
<?php } ?>
</div>

<!-- Enable responsive features in IE8 -->
<!--[if lt IE 9]>
<?php echo $this->tag->javascriptinclude('assets/vendor/respond.min.js'); ?>
<![endif]-->

<?php echo $this->assets->outputJs(); ?><?php if (isset($scripts) && count($scripts)) { ?><?php foreach ($scripts as $script_id => $script) { ?><script type="text/javascript"<?php if ($script_id) { ?> id="<?php echo $script_id; ?>"<?php } ?>>
    <?php echo $script; ?>

</script><?php } ?><?php } ?><?php if ($banners && isset($banner_floater)) { ?>
<div class="banner"><?php echo $banner_floater; ?></div>
<?php } ?>

<?php if ($load_zendesk_script) { ?>
    <!-- Start of oglasnik Zendesk Widget script -->
    <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","oglasnik.zendesk.com");/*]]>*/</script>
    <!-- End of oglasnik Zendesk Widget script -->
<?php } ?>

<?php if ($show_policy_cookie_banner) { ?>
<!-- Cookie Info -->
<div class="alert alert-dismissible container cookie-policy cookie-info">
    <p>Kako bismo vam omogućili što bolje iskustvo, ova stranica koristi <a href="<?php echo $this->url->get('info/uvjeti-koristenja'); ?>">cookies</a>. Postavke je moguće izmjeniti u vašem pregledniku.</p><button type="button" class="cookie-info-btn close-cookie" aria-label="U redu!"><span aria-hidden="true">U redu!</span></button>
</div>
<!-- End Cookie Info -->
<!-- Cookie_info script -->
<?php echo $this->tag->javascriptinclude('assets/vendor/jquery.cookie.js'); ?>
<script>
    (function(){
        if (!$.cookie('<?php echo $show_policy_cookie_banner_name; ?>')) {
            $('.cookie-info').slideDown();
            $('.cookie-info-btn').on('click',function(){
                var domain = document.domain;
                domain = domain.replace(/^(www|static|dev)/, '');
                $.cookie(
                    '<?php echo $show_policy_cookie_banner_name; ?>',
                    'yes',
                    { domain:domain, path:'/', expires:<?php echo $show_policy_cookie_banner_expires; ?> }
                );
                $('.cookie-info').slideUp();
            });
        }
    })();
</script>
<!-- End Cookie_info script -->
<?php } ?>


    </body>
</html>
